html {
    background-color: #F5EFFF;
}
body {
    margin: 0px;
}
h1 {
    font-size: 2em;
    margin-bottom: 0px;
}
h2 {
    font-size: 2em;
    margin-top: 0px;
} 
.header {
    background-color: #A294F9;
    text-align: center;
    padding: 20px;
    font-family: "Inter";
    margin: 0;
    border-radius: 5px;
    max-height: 260px;
}
.header-foto {
    height: 150px;
    border-radius: 50%;
}
.barra-links {
    font-family: "Inter";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 20px
}
.barra-links button {
    background-color: #CDC1FF;
    padding: 6px;
    border: none;
    gap: 10%;
    border-radius: 10%;
}
.resumen {
    margin: 8px;
}
.educacion {
    margin: 8px;
}
.trabajos {
    margin: 8px;
}
.info_adicional {
    margin: 8px;
}
.tareas {
    font-size: 17px;
}
h3 {
    font-family: "Arial";
}

h4  {
    font-family: "Arial";
}
p {
    margin: 8px;
    font-size: 17px;
}
.fjg {
    margin: 8px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: 8px;
    left: 8px;
    align-items: center;
}
.texto-cabecera {
    width: 30%;
    display: inline-block;
    align-items: center;
}
footer {
    padding: 5px;
    background-color: #A294F9; 
    color: white;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
}