html {
    background-color: #F5EFFF;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
h1 {
    font-size: 2em;
    margin-bottom: 0px;
}
h2 {
    font-size: 2em;
    margin-top: 0px;
} 
.header {
    background-color: #A294F9;
    text-align: center;
    padding: 20px;
    font-family: "Inter";
    margin: 0;
    border-radius: 5px;
    max-height: 260px;
}
.header-foto {
    height: 150px;
    border-radius: 50%;
}
.barra-links {
    font-family: "Inter";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 20px
}
.barra-links button {
    background-color: #CDC1FF;
    padding: 6px;
    border: none;
    gap: 10%;
    border-radius: 10%;
}
.video {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.videochasco {
    flex: 1;
    text-align: center;
    width: 30%;
}
footer {
    padding: 5px;
    background-color: #A294F9; 
    color: white;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
}
@media (max-width: 390px) {
    .trabajos {
        flex-direction: column;
    }
    h1 {
        font-size: 1em;
    }
    h2 {
        font-size: 1em;
    }
    .header-foto {
        height: 75px;
    }
    .barra-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .videochasco > iframe {
        max-width: 390px;
    }
    .footer {
        margin: 0;
        flex-shrink: 0;
    }